@model IEnumerable<CrudApp_Core.Note>

@{
    ViewBag.Title = "Archiv";
}

<h2>Archiv</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("Rückgänig", "Back", new { id = item.Id }, new { @class = "btn btn-default btn-md" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-md" })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id}, new { @class = "btn btn-default btn-md"})
                @Html.ActionLink("Details", "Details", new { id = item.Id}, new { @class = "btn btn-default btn-md"})
            </td>
        </tr>
    }
</table>

